<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test1">
		<parameter name="browser" value="chrome" />
		<classes>
		    <class name="Runners.Location_Runner"></class>
			<class name="Runners.Users_Creation_Runner"></class>
			<class name="Runners.Examinations_Schedule_runner"></class>
			<class name="Runners.Create_Time_Slot_and_Enroll_the_ExamTakerRunner"></class>
			<class name="Runners.AssessmentSubmissionRunner"></class>
			<class name="Runners.Enrolled_ExamTaker_in_a_TimeSlotRunner"></class>
			<class name="Runners.AssessmentSubmissionRunner"></class>		
			<class name="Runners.Enrolled_ExamTaker_in_a_TimeSlotRunner"></class>
			<class name="Runners.EnrolleRunner"></class>
			<class name="Runners.BulkUploadRunner"></class>
			<!--<class name="Runners.LoginPageRunner"></class>-->
		</classes>
	</test> <!--Test -->
</suite> <!--Suite -->

