<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
 <test name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="PortfolioCenterRunner.SISprovisioningRunner"></class>
			<class name="PortfolioCenterRunner.PortfolioCenterCourseRunner"></class>
			<class name="PortfolioCenterRunner.AssignmentsSubmissionRunner"></class>
			<class name="PortfolioCenterRunner.ScoreSubmissionRunner"></class>
			<class name="PortfolioCenterRunner.MultiScoringPortfolioCourseRuner"></class>
			<class name="PortfolioCenterRunner.MultiScoringAssignmentSubmissionRunner"></class>
			<class name="PortfolioCenterRunner.MultiScoringSubmissionRuner"></class>
			<class name="PortfolioCenterRunner.DeletePortfolioCourseRunner"></class>
		</classes>
	</test> <!--
	Test -->
  
</suite> <!-- Suite -->
