<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
    <test name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
		    <class name="ExamCenterRunners.Location_Runner"></class>
			<class name="ExamCenterRunners.Users_Creation_Runner"></class>
			<class name="ExamCenterRunners.Exam_Schedule_runner"></class>
			<class name="ExamCenterRunners.Create_Time_Slot_and_Enroll_the_ExamTakerRunner"></class>
			<class name="ExamCenterRunners.AssessmentSubmissionRunner"></class>
			<class name="ExamCenterRunners.Enrolled_ExamTaker_in_a_TimeSlotRunner"></class>
			<class name="ExamCenterRunners.Score_SubmissionRunner"></class>
			<class name="ExamCenterRunners.EnrolleRunner"></class>
			<!--<class name="ExamCenterRunners.BulkUploadRunner"></class>-->
    		<!--<class name="ExamCenterRunners.LoginPageRunner"></class>-->
		</classes>
	</test> <!--Test -->
	
	 <test name="Test1">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="AssessmentsRunner.SISprovisioningRunner"/>
			<class name="AssessmentsRunner.BenchmarksRunner"/>
			<class name="AssessmentsRunner.QuizCreationRunner"/>
			<class name="AssessmentsRunner.AnnouncementsRunner"/>
			<class name="AssessmentsRunner.QuizSubmissionRunner"/>
			<class name="AssessmentsRunner.PerformingExamRunner"/>
			<class name="AssessmentsRunner.ScoreSubmissionRunner"/>
			<class name="AssessmentsRunner.Teacher_ActivityprogressRunner"/>
			<class name="AssessmentsRunner.LaunchValidationRunner"/>
			<class name="AssessmentsRunner.Reportcard_TeacherRunner"/>
		</classes>
	</test> <!--Test -->
</suite> 